/**/
/**/

/*
    ANIMATIONS
*/
@keyframes moveInLeft {
    0%{
        opacity: 0;
        transform: translateX(-10rem); /* 100 pixels to the left */
    }
    80%{ /* when the timeframe of the process is at 80%.  See below*/

        transform: translateX(1rem);/*bounce */
    }
    100%{ 
        opacity: 1;
        trasform: translate(0); 
    }
   

}

@keyframes moveInRight {

    0%{
        opacity: 0;
        transform: translateX(10rem);
    }
    80%{ /* when the timeframe of the process is at 80% */

        transform: translateX(-1rem); /*bounce */
    }
    100%{ 
        opacity: 1;
        trasform: translate(0); 
    }
}

@keyframes moveInBottom {

    0%{
        opacity: 0;
        transform: translateY(3rem);
    }

    100%{
        opacity: 0;
        transform: translateY(0);
    }
}
/*a reset, removes browser's inherent styling */
*,
*::after,
*::before {
    margin:0;
    padding: 0;
    box-sizing: inherit;
}

html {
   font-size: 10px; /*use rem from here on out, makes code easy to adjust */
   }

body {
    box-sizing: border-box; /* change from content box (default) */ 
    }

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: #555; /* 3 same #s are shades of gray */
    padding: 3rem; /* this makes actual size 30 pixels. */

    }

.header {
    height: 95vh;
    background-image: linear-gradient(to right bottom, rgba(255, 221, 255, 0.8), rgba(153, 50, 204, 0.8));
    /* DRAW SHAPES WITH THIS GRADIENT */
    clip-path: polygon( 0% 0%, 100% 0%, 100% 50%, 50% 100%, 0% 50%); 
    /*clip-path: circle(40%); */
    background-size: cover;
    background-position: top;
    position: relative;
}

    
.header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; 
    }
    
.header__logo {
   height: 3.5rem;
    }
.header__text-box { /* REVIEW THESE */
    position: absolute; /* relative to its position */
    top: 40%; 
    left: 50%;
    transform: translate(-50%, -50%); /* for when page size is adjusted */
    text-align: center;
    
}

.heading-primary {
    color: #fff;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 6rem;
    }
.heading-primary--main {
    display: block; /* VS. inline.  Block level elements automatically drop to next line */
    font-size: 6rem;
    font-weight: 10; /* How skinny or fat the letters are */
    letter-spacing: 3.5rem;

    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
 }
 .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation: moveInRight 1s ease-out; 
}

    .heading-secondary {
        font-size: 3.5rem;
        text-transform: uppercase;
        font-weight: 700;
        display: inline-block;
        background-image: linear-gradient(to right, #fdf, #9932CC);
        -webkit-background-clip: text;
        color: transparent;
        letter-spacing: .2rem;
        transition: all .2s; 
    }

    .heading-secondary:hover {
        transform: skewY(2deg) skewX(15deg) scale(1.1);
        text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); 
    }
    

.heading-tertiary {

    font-size: 2.4rem;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    
    }

/**/


.btn, .btn:link, .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s; /* allows us to determine how long  a transition takes place */
    position: relative;
    font-size: 1.6rem;
    border: none; /* or 2px solid yellow */
    cursor: pointer;
    }

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.2); /* location of shadow */
  }
.btn:hover::after { /*this is a pseudo element */
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
    }

.btn:active, .btn:focus { 
    /* when we are doing something w/ button. 
    Makes it look like we're pressing it*/
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

}

.btn--white {
    background-color: #ffffff;
    color: #777; }

.btn--white::after {
    background-color: #fff; }


    .btn::after { /* will be on top of it */
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1; /* behind everything else */
        transition: all 0.4s; }

        .btn--animated {
            /* .btn:hover::after */
            animation: moveInBottom .5s ease-out .75s;
            animation-fill-mode: backwards; 
        }


/* that thing in the upper-right corner */
.navigation__checkbox {
    display: none; 
}

.navigation__button {
/**/
    background-color: #fff;
    height: 7rem;
    width: 7rem;
    position: fixed;
    top: 6rem; /* 60 px from top */
    right: 6rem;
    border-radius: 50%;
    z-index: 2000; /* keep it on top */
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
    text-align: center;
    cursor: pointer; /* I should maybe click on this . . */

}

.navigation__background { /* a smaller version of the nav_button */
/* scales by factor of 80, radiating out from button 
see .navigation__checkbox:checked ~ .navigation__background */
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    background-image: radial-gradient(#fdf, #9932CC);
    z-index: 1000; /* behind the button */
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
    /* when transform property is changed, 
    will call on cubic-bezier func over a span of 0.8s */
}

.navigation__nav {
/*Note we style for how we want the element to start */

    height: 100vh; /* 100 percent of viewport height */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500; /* on top of background */
    opacity: 0; /* user can't see it until they click on it */
    width: 0; /* will grow from size 0 */
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);


}

.navigation__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%; }

.navigation__item {
/**/
    margin: 1rem;
   }

   .navigation__link:link, .navigation__link:visited {
        /* so visited links don't look stupid */
        display: inline-block;
        font-size: 3rem;
        font-weight: 300;
        padding: 1rem 2rem;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        /* makes the weird boxes appear over entries in menu */
        background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #2b1010 50%);
        background-size: 220%; /* play with this one */
        transition: all 1.4s; 
    }

    .navigation__link:link span, .navigation__link:visited span {
        margin-right: 1.5rem;
        display: inline-block; 
    }

.navigation__link:hover, .navigation__link:active {
/**/
    background-position: 100%;
    color: #9400D3;
    transform: translateX(1rem); 
}
/* if checkbox is checked . . . */
/* squiggly line means all siblings AFTER */
.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80);
   }

.navigation__checkbox:checked ~ .navigation__nav {
    opacity: 1;
    width: 100%;
  }

  /* the middle dash in the icon */
.navigation__icon {
    position: relative;
    margin-top: 3.5rem;
}

 /* the before and after provide the other dashes in the icon */
.navigation__icon, .navigation__icon::before, .navigation__icon::after {

    /* each line has */
    border: 3rem;
    height: 2px;
    background-color: #333;
    display: inline-block;

    }
.navigation__icon::before, .navigation__icon::after {
    content: "*()*"; /* just added to see what this is */
    position: absolute;
    left: 0;
    transition: all 1.0s; /* slowed way down */
}
.navigation__icon::before {
    top: -.8rem;
    }
.navigation__icon::after {
    top: 0.8rem;
    }

.navigation__button:hover .navigation__icon::before {
    top: -1rem;
    }

.navigation__button:hover .navigation__icon::after {
    top: 1rem;
    }

    /* the '+' sign means the first one */
.navigation__checkbox:checked + .navigation__button .navigation__icon {
   background-color: transparent;
}

/* transition 3 lines to 2 lines forming an x */
.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg);
}
.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
    top: 0;
    transform: rotate(-135deg);  
}
/**/
.content-card{

}

